<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Create Customer</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <h1>Create Customer</h1>
    <form method="POST" action="/customers">
      <div class="form-group">
        <label for="SSN">SSN:</label>
        <input type="text" class="form-control" id="SSN" name="SSN" required>
      </div>
      <div class="form-group">
        <label for="first_name">First Name:</label>
        <input type="text" class="form-control" id="first_name" name="first_name" required>
      </div>
      <div class="form-group">
        <label for="middle_initial">Middle Initial:</label>
        <input type="text" class="form-control" id="middle_initial" name="middle_initial">
      </div>
      <div class="form-group">
        <label for="last_name">Last Name:</label>
        <input type="text" class="form-control" id="last_name" name="last_name" required>
      </div>
      <div class="form-group">
        <label for="street_name">Street Name:</label>
        <input type="text" class="form-control" id="street_name" name="street_name" required>
      </div>
      <div class="form-group">
        <label for="street_number">Street Number:</label>
        <input type="text" class="form-control" id="street_number" name="street_number" required>
      </div>
      <div class="form-group">
        <label for="city">City:</label>
        <input type="text" class="form-control" id="city" name="city" required>
      </div>
      <div class="form-group">
        <label for="postal_code">Postal Code:</label>
        <input type="text" class="form-control" id="postal_code" name="postal_code" required>
      </div>
      <div class="form-group">
        <label for="country">Country:</label>
        <input type="text" class="form-control" id="country" name="country" required>
      </div>
      <div class="form-group">
        <label for="registration_date">Registration Date:</label>
        <input type="date" class="form-control" id="registration_date" name="registration_date" required>
      </div>
      <button type="submit" class="btn btn-primary">Create</button>
    </form>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
